<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="tax_features" translate="label" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Tax Features</label>
			<tab>ecinternet</tab>
			<resource>ECInternet_TaxFeatures::settings</resource>
			<group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>General Configuration</label>
				<field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Enable Module</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug_logging" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Enable Debug Logging</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="tax_exempt_class_id" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Tax Exempt Class</label>
					<source_model>Magento\Tax\Model\TaxClass\Source\Customer</source_model>
					<comment>Tax Class used when a customer is marked as exempt by the "Is Tax-Exempt?" attribute.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
